
#formContainer
{
    padding: 5%;
    background-color: sandybrown;
}
#selector
{
    margin-top: 8%;
    margin-bottom: 5%;
}
#exampleCheck2
{
    margin-top: 8%;
    margin-bottom: 12%;
}
#submitContact
{
    padding: 8%;
}